<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> <%= tr 'prohibited this school from being saved:'</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= trl 'name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= trl 'address' %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%=trl 'phone' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
